<body>
    <section class="main">
        <div class="container">
            <div class="image">
                <img src="assets/pfp.png" alt="">
            </div>
        
            <div class="username">
                <h6 class="name"><strong>martin_pinola</strong></h6>
            </div>
        </div>
        
        <div class="content">
            <div class="comentary">
                <p>Creando contenido para el próximo video, chicos no olviden <br> dejarme en los comentarios los temas… <a class="seeMore" href=""><strong>Ver más</strong></a></p>
            </div>
            
            <div class="video-container">
                <video id="media" class="rounded-md" width="380" height="544" controls loop>
                    <source src="assets/videoo.mp4" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>
                <div class="icons">
                    <button class="like">
                        <img src="assets/like.png" alt="">
                        <strong>27,2k</strong>
                    </button>
                    <button class="reaction">
                        <img src="assets/comentario.png" alt="">
                        <strong>201</strong>
                    </button>
                    <button class="shared">
                        <img src="assets/shared.png" alt="">
                        <strong>201</strong>
                    </button>
                    <button class="comentary">
                        <img src="assets/comen.png" alt="">
                        <strong>201</strong>
                    </button>
                </div>
            </div>
        </div>
        
    </section>
</body>
