<hr class="hr ">
<section>
    <div class="col columns-2">

        <div class="logo ml-4 mt-5">
         <img src="assets/Grupo 13276.png" alt="">
        </div>
        
        <div class="downloandHere ">
            <button class="buttonS">
                <i class="fa-brands fa-google-play fa-lg" style="color: #ffffff;"></i> <div class="vertical-line"></div>

                <i class="appleLogo fa-brands fa-apple fa-xl" style="color: #ffffff;"> </i> 
                  <strong> Descárgala aquí</strong>
            </button> 
        </div>
        
        </div>
</section>
